@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.jumbotron {
	background-color: #A5E85E;
	color: #ffffff;
	height: 16em;
	box-shadow: 5px 3px 15px rgba(0, 0, 0, 0.5);
	margin-bottom: 2em;
}

.jumbotron h1 {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bolder;
	font-size: 100px;
	text-shadow: 5px 3px 15px rgba(0, 0, 0, 0.5);
}

.section1 {
	margin-bottom: 2em;
}

.section1 h1, .section2 h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: #000000;
	text-align: center;
}

.section1 p, .section2 p, footer p, footer a {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: justify;
}

.section2 {
	margin-top: 2em;
	margin-bottom: 3em;
}

.card-pralitas {
	flex: 1 250px;
	padding: 10px; 
	margin: 10px;
}

.btn-pralitas {
	width: 100%;
	border-radius: 20px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: #A5E85E;
	margin-bottom: 0px;
	margin-top: 25px;
}

h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: #000000;
}
